@import "../../../assets/css/buttons.css";
@import "../../../assets/css/algorithms.css";


.select-word__pick-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.select-word__check-word {
  margin: 0.5em 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-word__pick-word {
  margin: 0.3em;
}

