@import "../../../assets/css/buttons.css";
@import "../../../assets/css/algorithms.css";

.print-word__wrong {
  border-color: #F22613 !important;
}

.enter {
  font-style: italic;
}

.print-word {
  font-size: 1em;
}

.error {
  display: block !important;
}

.print-word__printed-word {
  margin: 1.5em 0;
  color: #444B54;
  border-radius: 2px;
  outline: none;
  padding: 10px;
  border: 1px solid lightgray;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 90%;
}


.print-word__btn {
  font-size: 1.2em;
  margin: 1em 0;
  font-family: 'Roboto', sans-serif;

  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #249991;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
}


.print-word__right-word {
  margin: 0;
  color: #D33257;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  display: none;
  overflow-wrap: break-word;
  max-width: 7em;
}
