@import "../../../assets/css/buttons.css";
@import "../../../assets/css/algorithms.css";

.bind-words_checked {
  background-color: #953163 !important;
  border-color: #953163 !important;
}

.hide {
  display: none !important;
}

.bind-words__word-lists {
  display: none;
  margin: 1em 0 0 0;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  /*border: 1px solid black;*/
  width: 100%;
}

.bind-words__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  margin: 1em 0 0 0;
  width: 50%;
  /*border: 1px solid black;*/
  align-items: center;
}

.bind-words__word {
  color: white;
  background-color: #249991;
  border-radius: 2px;
  cursor: pointer;
  overflow-wrap: break-word;
  text-align: center;
  margin: 0.6em 0.3em;
  width: 6.5em;
  padding: 0.6em;
  letter-spacing: 1px;
  border: 2px solid #249991;
}

.bind-words__list:nth-child(2) .bind-words__word {
  color: #249991;
  background-color: white;
}

.bind-words__list:nth-child(2) .bind-words__word.bind-words_checked,
.bind-words__list-merged .bind-words__word-merged.bind-words_checked {
  color: white !important;
}

.bind-words__list:nth-child(2) .bind-words__word.btn_wrong,
.bind-words__list-merged .bind-words__word-merged.btn_wrong {
  background-color: #953163 !important;
  border-color: #953163 !important;
  color: white !important;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.bind-words__list-merged {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  margin: 1em 0 0 0;
  width: 100%;
}

.bind-words__word-merged {
  color: white;
  background-color: #249991;
  border: 2px solid #249991;
  border-radius: 2px;
  cursor: pointer;
  overflow-wrap: break-word;
  text-align: center;
  margin: 0.3em;
  padding: 0.5em;
  letter-spacing: 1px;
  align-self: flex-start;
  max-width: 12em;
}


.bind-words__word-merged:nth-child(2n) {
  background-color: white;
  color: #249991;
  align-self: flex-end;
}


@media only screen and (min-width : 350px) and (orientation: portrait) {

  .bind-words__word-merged {
    font-size: 1.2em;
  }  
}

@media only screen and (min-width : 368px) and (orientation: portrait) {

  .bind-words__word-merged {
    font-size: 1.3em;
  }
}

@media only screen and (min-width : 408px) and (orientation: portrait) {

  .bind-words__word-merged {
    font-size: 1.3em;
  }
}

@media only screen and (min-width : 590px) and (orientation: portrait) {

  .bind-words__word-merged {
    font-size: 1.5em;
    max-width: 18em;
  }
}  

@media only screen and (min-width : 660px) and (orientation: landscape) {

  .bind-words__word-merged {
    font-size: 1.6em;
    max-width: 18em;
  }
}  

@media only screen and (min-width : 760px) {

  .bind-words__word-merged {
    font-size: 1.5em;
    max-width: 18em;
  }
}

@media only screen and (min-width : 990px) {

  .bind-words__list-merged {
    display: none;
  }

  .bind-words__word-lists {
    display: flex;
  }

  .bind-words__word {
    font-size: 1.4em;
    width: 17em;
  }
}
