@import "../../../assets/css/buttons.css";
@import "../../../assets/css/algorithms.css";

.bind-words_checked {
  background-color: #953163 !important;
}

.hide {
  display: none !important;
}

.bind-words__word-lists {
  display: flex;
  margin: 1em 0 0 0;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  /*border: 1px solid black;*/
  width: 100%;
}

.bind-words__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1em;
  padding: 0;
  margin: 1em 0 0 0;
  width: 50%;
  /*border: 1px solid black;*/
  align-items: center;
}

.bind-words__word {
  color: white;
  background-color: #249991;
  border-radius: 2px;
  cursor: pointer;
  overflow-wrap: break-word;
  text-align: center;
  margin: 0.3em;
  width: 6.5em;
  padding: 0.5em;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  letter-spacing: 1px;
}


@media only screen and (min-width : 350px) {

  .bind-words__word {
    font-size: 1.2em;
    width: 6em;
  }
}

@media only screen and (min-width : 368px) {

  .bind-words__word {
    font-size: 1.3em;
    width: 5.8em;
  }
}

@media only screen and (min-width : 408px) {

  .bind-words__word {
    font-size: 1.5em;
    width: 5.6em;
  }
}

@media only screen and (min-width : 590px) {

  .bind-words__word {
    font-size: 1.6em;
    width: 8em;
  
  }
}  

@media only screen and (min-width : 760px) {

  .bind-words__word {
    font-size: 1.7em;
    width: 10em;
  }
}

@media only screen and (min-width : 990px) {

  .bind-words__word-lists {
    width: 75%;
  }

}
